<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Action</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products$ | async">
            <td>{{ product.name | uppercase }}</td>
            <td>{{ product.price | currency : product.currency : 'code' }}</td>
            <td><button class="btn btn-primary" (click)="edit(product)">Edit</button></td>
            <td><button class="btn btn-danger" (click)="delete(product)">Delete</button></td>
        </tr>
    </tbody>
</table>