<div class="row card-group">
    <div *ngFor="let product of products$ | async">
        <div class="card m-4" style="width: 18rem;">
            <img class="card-img-top" [src]="product.image" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <p>{{ product.price | currency : product.currency : 'code' }}</p>
                <button class="btn btn-primary mr-2" (click)="edit(product)">Edit</button>
                <button class="btn btn-danger mr-2" (click)="delete(product)">Delete</button>
            </div>
        </div>
    </div>
</div>