<!--h3>Edit product name for {{ product.name }}</h3-->
<!--input type="text" [id]="product.id" [(ngModel)]="product.name"-->

<button class="btn btn-info m-2" (click)="setListEnabled(true)">List</button>
<button class="btn btn-secondary m-2" (click)="setListEnabled(false)">Grid</button>

<ng-container *ngIf="productsListIsEnabled; else productsGrid">
    <app-product-table [products$]="products$"></app-product-table>
</ng-container>

<ng-template #productsGrid>
    <ng-container *ngIf="!productsListIsEnabled">
        <app-product-grid [products$]="products$"></app-product-grid>
    </ng-container>
</ng-template>